{% extends 'base.html' %}

{% block header_text %} Your to-do list {% endblock %}

{% block form_action %}{% url 'view_list' list.id %}{% endblock %}
        
{% block table %}
        <table id='id_list_table' class='table'> 
            {% for item in list.item_set.all %}
                <tr><td>{{ forloop.counter }}: {{ item.text }} </tr> </td>
            {% endfor %}
        </table>
{% endblock %}
